
{% extends "base.html" %}
{% block content %}
    <h1>Create New Post</h1>
    <form method="post" action="{% url 'blog:create_post' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    {% if form.errors %}
        <div class="error">
            <p>Please correct the following errors:</p>
            <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    <a href="{% url 'blog:post_list' %}">Cancel</a>
{% endblock %}